.main-add {
    // background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.9)), url('/assets/images/pets-create-update.png');

    .form {
        .lost-found {
            height: 3em;
            border-radius: 15px;
            padding-left: 11px !important;
        }

        .add-file {
            padding: 0.7em !important;
            padding-left: 15px;
        }

        textarea {
            border-radius: 15px;
        }
    }
}