<main class="main about-us">
    <div class="about-holder">
        <div class="about-information">
            <h1>- Нашата мисия -</h1>

            <p class="sub-header">Дa ви помогнем да намерете вашето изгубено животинче.</p>

            <h2>За нас</h2>

            <div class="about-us-info">
                <p>Домашните любимци носят радост вкъщи. Някои са пухкави и игриви,
                    други изразяват привързаността си по свой начин, но със сигурност
                    домашният любимец се превръща в незаменим член на семейството.</p>

                <p>PetFind.Me е организация създадена да ви помогне да намерите вашия
                    изгубен домашен любимец. А също така можете и да помогнете на някой
                    друг да намери своя изгубен приятел.</p>

                <p>Ние ще се погрижим да намерите вашия верен другар, защото тези
                    малки и сладки същества наистина се превръщат в част от нашите
                    семейства и раздялата с тях е много трудна.</p>

                <p>PawFist <i class="fa fa-paw"></i></p>

                <p>&#169; PetFind.Me All Rights Reserved {{date}}</p>
            </div>

        </div>
        <!-- <h2><div class="about-image">
            <img src="../images/about-help.jpeg" alt="We'll help you">
          </div> -->
    </div>
</main>