.about-us {
    background: linear-gradient(rgba(255, 255, 255, 0), black), url('/assets/images/pets-about.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*.about-image {
          text-align: center;
          margin: 0 auto 2.5em;
          width: 70%;
          box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5), 0 9px 25px 0 rgba(0, 0, 0, 0.69);
          img {
              width: 100%;
              box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
          }
      }*/

    .about-information {
        background-color: rgba(255, 255, 255, 0.88);
        color: #555F77;
        border: 1px solid #fff;
        border-radius: 15px;
        width: 70%;
        font-size: 1.2em;
        margin: 5em auto 4em;
        -webkit-box-shadow: 9px 11px 10px -4px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 9px 11px 10px -4px rgba(0, 0, 0, 0.7);
        box-shadow: 9px 12px 10px -4px rgba(0, 0, 0, 0.7);

        h1,
        h2,
        .sub-header {
            font-weight: 400;
            text-align: center;
        }

        h1 {
            margin: 1em;
        }

        .sub-header {
            margin-bottom: 1.2em;
        }

        .about-us-info {
            padding: 2em;

            p {
                padding-bottom: 0.7em;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .about-information h1,
    .about-information h2,
    .about-information .sub-header {
        font-size: 1em;
    }

    .about-information .about-us-info {
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
}

@media screen and (max-width: 990px) {
    .about-us .about-information {
        width: 80%;
    }
}