$navbar-blue: #1C6375;

.section-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 50px;
    -webkit-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);

    h2 {
        color: $navbar-blue;
        margin: 1em auto;
    }

    p {
        display: flex;
        flex-direction: row;
        font-size: 1.1em;

        a,
        a:visited,
        a:valid,
        a:active {
            color: $navbar-blue;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}