<header>
    <div class="header-holder">
        <div class="logo">
            <a routerLink="/" class="brand">
                <img src="/assets/images/logo.png" alt="PetFind.Me">
            </a>
        </div>

        <nav class="menu mobile">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>

            <ul id="menu">
                <!-- <a routerLink="/">
                    <li><i class="fa fa-home"></i>Начало</li>
                </a> -->
                <a routerLink="/pets/lost">
                    <li><i class="fa fa-solid fa-magnifying-glass-location"></i>Изгубени</li>
                </a>
                <a routerLink="/pets/found">
                    <li><i class="fa fa-regular fa-circle-check"></i>Намерени</li>
                </a>

                <ng-template #loggedOutTemplate>
                    <a routerLink="/auth/login">
                        <li><i class="fa fa-solid fa-right-to-bracket"></i>Вход</li>
                    </a>
                    <a routerLink="/auth/register">
                        <li><i class="fa fa-solid fa-user-plus"></i>Регистрирай се</li>
                    </a>
                </ng-template>

                <ng-template #loggedInTemplate>
                    <a routerLink="/pets/new">
                        <li><i class="fa fa-plus-circle"></i>Подай сигнал</li>
                    </a>
                    <a routerLink="/user/profile">
                        <li><i class="fa fa-solid fa-user"></i>Профил</li>
                    </a>
                    <a routerLink="/auth/logout">
                        <li><i class="fa fa-solid fa-right-from-bracket"></i>Изллез</li>
                    </a>
                </ng-template>

                <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>
                <!-- <ng-container *ngTemplateOutlet="loggedInTemplate"></ng-container> -->
            </ul>
        </nav>
    </div>
</header>