<header>
    <div class="header-holder">
        <div class="logo">
            <a class="brand" href="index.html">
                <img src="assets/images/logo.png" alt="PetFind.Me">
            </a>
        </div>

        <nav class="menu mobile">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>

            <ul id="menu">
                <a href="index.html">
                    <li><i class="fa fa-home"></i> Начало</li>
                </a>
                <a href="pages/lost.html">
                    <li><i class="fa fa-search-location"></i> Изгубени</li>
                </a>
                <a href="pages/found.html">
                    <li><i class="far fa-check-circle"></i> Намерени</li>
                </a>
                <a href="pages/add.html">
                    <li><i class="fa fa-plus-circle"></i> Подай сигнал</li>
                </a>
            </ul>
        </nav>
    </div>
</header>