$white: #fff;
$navbar-blue: #550A21;

.footer {
    background-color: #000;
    width: 100%;
    color: $white;
    text-align: left;

    .container {
        display: flex;
        justify-content: space-around;
        padding: 3em 0 0em;

        h4 {
            padding: 0.3em 0;
            color: $white;
            margin: 0;
        }

        .about {
            li {
                &:hover {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }

        ul {
            list-style-type: none;
            border-top: 1px solid $white;
            padding: 0.5em 0;
            padding-left: 0;
            margin: 0.5rem 0;

            li {
                margin-bottom: 0.25em;
            }

            a {
                text-decoration: none;
                color: $white;
            }

            li,
            a {
                .fa {
                    margin-right: 0.5em;
                }
            }

            .instagram {
                &:hover {
                    color: #D3154C;
                    transition: all 0.15s ease;
                }
            }

            .twitter {
                &:hover {
                    color: #55ADEE;
                    transition: all 0.15s ease;
                }
            }

            .facebook {
                &:hover {
                    color: #3C5A99;
                    transition: all 0.15s ease;
                }
            }
        }
    }

    .bottom {
        text-align: center;
        margin: 1em 0 2em;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
            border-bottom: 1px solid $white;
            padding-bottom: 1em;
        }

        ul {
            border-top: none !important;
        }

        .about,
        .social,
        .contact {
            padding-bottom: 0;
        }

        .social,
        .contact {
            padding-top: 1em;
        }
    }

    .bottom {
        margin-top: 2em !important;
    }
}