<main class="index">
    <div class="main-holder">
        <section class="ad-container">
            <img src="/assets/images/default-pet-image.png" alt="">

            <div class="ad-section-container">
                <div class="ad-head-container">
                    <h3 class="title">{{pet.title}}</h3>
                    <p class=""><span class="bold">Статус: </span>{{pet.status}}</p>
                </div>

                <div class="ad-main-container">
                    <p class="">{{pet.description}}
                </div>

                <div class="ad-footer-container">
                    <p class=""><span class="bold">Град: </span>{{pet.location}}</p>
                    <p class=""><span class="bold">За връзка: </span>{{pet.contactName}}</p>
                    <p class=""><span class="bold">Телефон: </span>{{pet.phone}}</p>
                </div>
            </div>
        </section>
    </div>
</main>