$navbar-blue: #1C6375;

.index {
    width: 85%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 4em auto 6em;

    .grid-header {
        h1 {
            color: $navbar-blue;
            text-align: center;
            line-height: 1.2em;
            margin: 1.5em auto;
        }
    }
}

@media screen and (max-width: 480px) {
    .ad-container {
        display: grid;
        grid-template-columns: 100% !important;

        .ad-section-container {
            padding-left: 0.5em !important;
        }
    }
}

@media screen and (max-width: 960px) {
    .index {
        width: 90%;
    }
}