<div *ngIf="errorFetchingData">Error loading themes</div>
<app-loader *ngIf="!petsList"></app-loader>

<ng-template #petsItems>
    <div class="grid-container">
        <section *ngFor="let pet of petsList" class="ad-container">
            <a routerLink="/pets/details/{{ pet._id }}">
                <img src="/assets/images/default-pet-image.png" alt="">

                <div class="ad-section-container">
                    <div class="ad-head-container">
                        <h3 class="title">{{pet.title}}</h3>
                        <p class=""><span class="bold">Статус: </span>{{pet.status}}</p>
                    </div>

                    <div class="ad-main-container">
                        <p class="">{{pet.description}}
                    </div>

                    <div class="ad-footer-container">
                        <p class=""><span class="bold">Град: </span>{{pet.location}}</p>
                        <p class=""><span class="bold">За връзка: </span>{{pet.contactName}}</p>
                        <p class=""><span class="bold">Телефон: </span>{{pet.phone}}</p>
                    </div>
                </div>
            </a>
        </section>
    </div>
</ng-template>

<ng-template #petsNotFound>
    <app-pets-not-found></app-pets-not-found>
</ng-template>

<ng-container *ngTemplateOutlet="!isPetsFound ? petsItems : petsNotFound"></ng-container>

<!-- <section class="ad-container">
        <img src="/assets/images/default-pet-image.png" alt="">

        <div class="ad-section-container">
            <div class="ad-head-container">
                <h3 class="title">Изгубен Самоет</h3>
                <p class=""><span class="bold">Статус: </span>Изгубено</p>
            </div>

            <div class="ad-main-container">
                <p class="">Изгубен е мъжки самоет на година и половина в района на зала Кулудрум в Пловдив.
                    Много е красив и много умен. Отговаря на името Полар.
                    Много ви моля ако някой го намери да се свърже с мен</p>
            </div>

            <div class="ad-footer-container">
                <p class=""><span class="bold">Град: </span>Пловдив</p>
                <p class=""><span class="bold">За връзка: </span>Стефан</p>
                <p class=""><span class="bold">Телефон: </span>0888888888</p>
            </div>
        </div>
    </section>

    <section class="ad-container">
        <img src="/assets/images/default-pet-image.png" alt="">

        <div class="ad-section-container">
            <div class="ad-head-container">
                <h3 class="title">Изгубено е черно коте</h3>
                <p class=""><span class="bold">Статус: </span>Изгубено</p>
            </div>

            <div class="ad-main-container">
                <p class="">Изгубено е черно коте, квартал Баланите, Габрово.
                    Глезлив и галантен с къса, лъскава козина и каишка.
                    Много ви моля, яко някой го намери да се свърже с мен!</p>
            </div>

            <div class="ad-footer-container">
                <p class=""><span class="bold">Град: </span>Габрово</p>
                <p class=""><span class="bold">За връзка: </span>Ники</p>
                <p class=""><span class="bold">Телефон: </span>0888888888</p>
            </div>
        </div>
    </section>

    <section class="ad-container">
        <img src="/assets/images/default-pet-image.png" alt="">

        <div class="ad-section-container">
            <div class="ad-head-container">
                <h3 class="title">Изгубен Golden Retriever</h3>
                <p class=""><span class="bold">Статус: </span>Изгубено</p>
            </div>

            <div class="ad-main-container">
                <p class="">Много малък, на няколко месеца е. Много съм притеснен
                    и ви моля за помощ. Изгубен е точно на площада. Ако го намерите свържете се с мен</p>
            </div>

            <div class="ad-footer-container">
                <p class=""><span class="bold">Град: </span>Плевен</p>
                <p class=""><span class="bold">За връзка: </span>Пламен</p>
                <p class=""><span class="bold">Телефон: </span>0777788888</p>
            </div>
        </div>
    </section>
</div> -->