$navbar-blue: #1C6375;

.grid-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 48% 48%;
    grid-row-gap: 1.3em;
    grid-column-gap: 1.3em;
    line-height: 1.2em;

    .ad-container {
        -webkit-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
        box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);

        a,
        a:hover,
        a:visited,
        a:valid,
        a:active {
            color: black;
            text-decoration: none;
        }

        a {
            display: grid;
            grid-template-columns: 39% 58%;
            grid-column-gap: 1em;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }

            .ad-section-container {
                padding: 0.5em 0;

                .ad-head-container {
                    .title {
                        margin-bottom: 0.3em;
                    }
                }

                .ad-head-container,
                .ad-main-container,
                .ad-foot-container {
                    margin-bottom: 0.5em;
                    margin-right: 0.8em;
                }

                .ad-head-container,
                .ad-footer-container {
                    .bold {
                        color: $navbar-blue;
                        font-weight: bold !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .ad-container {
        a {
            display: grid;
            grid-template-columns: 100% !important;

            .ad-section-container {
                padding-left: 0.5em !important;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;

        .ad-container {
            a {
                display: grid;
                grid-template-columns: 38% 60%;
            }

            &:nth-of-type(even) {
                direction: rtl;
                text-align: left;
                padding-left: 0.5em;
                margin-right: 0;
            }
        }
    }
}