<div *ngIf="errorFetchingData">Error loading themes</div>
<app-loader *ngIf="!petsList"></app-loader>

<ng-template #petsItems>
    <div class="grid-container">
        <section *ngFor="let pet of petsList" class="ad-container">
            <a routerLink="/pets/details/{{ pet._id }}">
                <ng-template #defaultImage>
                    <img src="{{imageApi}}/pets/{{pet.imageUrl}}" alt="{{pet.title}}">
                </ng-template>

                <ng-template #imageUrl>
                    <img src="{{pet.imageUrl}}" alt="{{pet.title}}">
                </ng-template>

                <ng-container
                    *ngTemplateOutlet="pet.imageUrl == 'default-pet.png' ? defaultImage : imageUrl"></ng-container>

                <div class="ad-section-container">
                    <div class="ad-head-container">
                        <h3 class="title">{{pet.title}}</h3>
                        <p class=""><span class="bold">Статус: </span>{{pet.status}}</p>
                    </div>

                    <div class="ad-main-container">
                        <p class="">{{pet.description}}
                    </div>

                    <div class="ad-footer-container">
                        <p class=""><span class="bold">Град: </span>{{pet.location}}</p>
                        <p class=""><span class="bold">За връзка: </span>{{pet.contactName}}</p>
                        <p class=""><span class="bold">Телефон: </span>{{pet.phone}}</p>
                    </div>
                </div>
            </a>
        </section>
    </div>
</ng-template>

<ng-template #petsNotFound>
    <app-pets-not-found></app-pets-not-found>
</ng-template>

<ng-container *ngTemplateOutlet="!isPetsFound ? petsItems : petsNotFound"></ng-container>