$white: #fff;
$navbar-blue: #1C6375;
$red: #f44336;

.contacts {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('/assets/images/pets-contact.jpg');
}

.main-form {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-holder {
        width: 45%;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 6em;
        margin: 3em auto;

        .form-header {
            color: $white;
            text-transform: uppercase;
            margin-bottom: 2.5em;
            transition: all 2.5s ease-in;

            h2 {
                font-size: 1.8em;
                color: $navbar-blue;
            }

            /*/h2 {
            font-size: 1.2em;
        }*/
        }

        .form-content {
            background-color: transparent;
            width: 100%;
            transition: all 2.5s ease-in;

            .form {
                .form-control {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $white;
                    font-size: 1.2em;
                    padding-left: 10px;
                    box-sizing: border-box;

                    &::-webkit-input-placeholder {
                        color: $white;
                        font-weight: bold;
                    }
                }

                .error {
                    color: $red;
                    text-align: left;
                    font-weight: bold;
                }

                .bgcl {
                    background: rgba(0, 0, 0, 0.9);
                    -webkit-background: rgba(0, 0, 0, 0.8);
                    -moz-background: rgba(0, 0, 0, 0.9);
                    opacity: 0.6;
                    margin-bottom: 0.5em;
                }

                input {
                    height: 3em;
                    border-radius: 15px;
                }

                textarea {
                    border-radius: 15px;
                    resize: none;
                    font-size: 1.2em;
                    margin-bottom: 0px !important;
                    padding-top: 10px;
                    padding-bottom: 0px !important;
                }

                textarea::placeholder {
                    font-size: 1.2em;
                }

                .submit {
                    background: $navbar-blue;
                    border-color: transparent;
                    color: $white;
                    font-size: 1.2em;
                    font-weight: bold;
                    letter-spacing: 2px;
                    margin-top: 1em;
                    width: 100%;
                    -webkit-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
                    -moz-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
                    box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);

                    &:hover {
                        background: $red;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .form-holder {
        h2 {
            font-size: 1.5em
        }
    }
}

@media screen and (max-width: 990px) {
    .form-holder {
        width: 80% !important;

        .submit {
            white-space: normal;
        }
    }
}