<main class="main contacts">
    <div class="form-holder">
        <div class="contact-title">
            <h1>Свържете се с нас</h1>
            <!-- <h2>Изпратете вашето запистване като попълните формата по-долу!</h2> -->
        </div>

        <div class="contact-form">
            <form id="contact-form" action="../index.html">
                <input type="text" name="name" class="form-control bgcl" placeholder="Вашето име" required><br>

                <input type="email" name="email" class="form-control bgcl" placeholder="Вашият email" required><br>

                <textarea name="message" class="form-control bgcl" rows="6" placeholder="Вашето съощение"
                    required></textarea><br>

                <input type="submit" class="form-control submit" value="Изпрати">
            </form>
        </div>
    </div>
</main>