<main class="main main-form login">
    <div class="form-holder">
        <div class="form-header">
            <h2>Вход в PetFind.Me</h2>
        </div>

        <div class="form-content">
            <form id="form" class="form">
                <input type="email" name="email" class="form-control bgcl" placeholder="Вашето email" required>

                <input type="password" name="password" class="form-control bgcl" placeholder="Вашatа парола" required>

                <input type="submit" class="form-control submit" value="Вход">
            </form>
            <div class="form-footer">
                <p>Нямате регистрация? <a routerLink="/auth/register">Регистрирайте се</a></p>
            </div>
        </div>
    </div>
</main>