$red: #550A21;

h1 {
    width: 90%;
    font-size: 2rem;
    text-align: center;
    color: $red;
    margin: 2.5rem auto;
}

#home-page-catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin: 0 auto;

    .no-articles-title {
        margin: 1rem 0 1.5rem;
    }

    .add-button {
        display: inline-block;
        border: 2px solid $red;
        border-radius: 50px;
        font-weight: 550;
        font-size: 16px;
        color: $red;
        text-decoration: none;
        letter-spacing: 1px;
        transition: 0.5s;
        padding: 10px 30px;

        &:hover {
            background-color: $red;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 599px) {
    #home-page-catalog {
        .main-grid-container {
            width: 90%;
        }
    }
}