$red: #550A21;

#catalog-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2em;

    h1 {
        font-size: 2em;
    }
}