<main class="main main-form main-add">
    <div class="form-holder">
        <div class="form-header">
            <h2>Подай сигнал</h2>
            <!--<h2>Изпратете вашето запистване като попълните формата по-долу!</h2>-->
        </div>

        <div class="form-content">
            <form id="form" class="form">
                <input type="text" name="title" class="form-control bgcl" placeholder="Заглавие" required><br>

                <select name="lost-found" class="form-control lost-found bgcl" required>
                    <option value="" selected disabled hidden> Изгубено / Намерено</option>
                    <option value=" Изгубено" class="opt-bgc"> Изгубено</option>
                    <option value=" Намерено" class="opt-bgc"> Намерено</option>
                </select>

                <input type="text" name="location" class="form-control bgcl" placeholder="Местоположение" required>

                <input type="text" name="name" class="form-control bgcl" placeholder="Име за връзка" required>

                <input type="tel" name="phone" class="form-control bgcl" placeholder="Телефон за връзка" required>

                <input type="file" name="add" class="form-control add-file bgcl" title="Изберете снимка"
                    value="Изберете снимка" required>

                <textarea name="description" class="form-control bgcl" rows="6" placeholder="Описание"
                    required></textarea>

                <input type="submit" class="form-control submit" value="Подай сигнал">
            </form>
        </div>
    </div>
</main>