.index {
    width: 85%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 4em auto 6em;
}

@media screen and (max-width: 990px) {
    .index {
        width: 90%;
    }
}