$red: #550A21;

.main-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    margin: 0 auto;

    .no-articles-title {
        text-align: center;
        margin: 8rem 2rem 1.5rem;
    }

    .MuiButtonBase-root.MuiPaginationItem-root.Mui-selected {
        background-color: #550A21;
        color: #fff;
    }

    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .main-catalog {

        .form,
        .main-grid-container {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 599px) {
    .main-catalog {
        .form {
            .search-button {
                margin: 8px 0 0;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .main-catalog {
        .link {
            margin-bottom: 8rem;
        }
    }
}