<main class="main main-form register">
    <div class="form-holder">
        <div class="form-header">
            <h2>Регистрация в PetFind.Me</h2>
        </div>

        <div class="form-content">
            <form [formGroup]="registerForm" id="form" class="form" (ngSubmit)="registerHandler()">
                <!-- email -->
                <input type="email" formControlName="email" class="form-control bgcl" placeholder="Вашето email"
                    required>
                <ng-container *ngIf="registerForm.get('email')?.touched">
                    <p class="error" *ngIf="registerForm.get('email')?.errors?.['required']">
                        Моля въведете имейл!
                    </p>
                    <p class="error" *ngIf="registerForm.get('email')?.errors?.['email']">
                        Моля въведете валиден имейл!
                    </p>
                </ng-container>

                <!-- name -->
                <input type="text" formControlName="name" class="form-control bgcl" placeholder="Вашeтo име" required>
                <ng-container *ngIf="registerForm.get('name')?.touched">
                    <p *ngIf="registerForm.get('name')?.errors?.['required']" class="error">
                        Моля въведете вашето име!
                    </p>
                    <p *ngIf="registerForm.get('name')?.errors?.['minlength']" class="error">
                        Името трябва да е поне 3 символа!
                    </p>
                </ng-container>

                <!-- passwords -->
                <ng-container formGroupName="pass">
                    <!-- password -->
                    <input type="password" formControlName="password" class="form-control bgcl"
                        placeholder="Вашaта парола" required>
                    <ng-container *ngIf="registerForm.get('pass')?.get('password')?.touched">
                        <p class="error" *ngIf="registerForm.get('pass')?.get('password')?.errors?.['required']">
                            Моля въведете вашата парола!
                        </p>
                        <p class="error" *ngIf="registerForm.get('pass')?.get('password')?.errors?.['minlength']">
                            Паролата трябва да е поне 5 символа!
                        </p>
                    </ng-container>

                    <!-- repass -->
                    <input type="password" formControlName="repass" class="form-control bgcl"
                        placeholder="Подвърдете вашaта парола" required>
                    <ng-container
                        *ngIf="registerForm.get('pass')?.errors?.['comparePasswordsValidator'] && registerForm.get('pass')?.get('repass')?.touched">
                        <p class="error">Въведените пароли не съвпадат!</p>
                    </ng-container>
                </ng-container>

                <!-- submit -->
                <input [disabled]="registerForm.invalid" type="submit" class="form-control submit"
                    value="Регистрирай се">
            </form>
        </div>
        <div class="form-footer">
            <p>Имате регистрация? </p><a routerLink="/auth/login">Вход</a>
        </div>
    </div>
</main>