<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal">
            <fieldset>
                <legend>Регистрация в PetFind.Me</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="email">Имейл</label>
                    <div class="col-sm-4 ">
                        <input type="email" name="email" class="form-control" id="email" placeholder="Имейл" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="fullName">Вашето име</label>
                    <div class="col-sm-4 ">
                        <input type="text" name="fullName" class="form-control" id="user_fullName"
                            placeholder="Вашето име" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="user_password_first">Парола</label>
                    <div class="col-sm-4">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Парола"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="urepass">Повторете паролата</label>
                    <div class="col-sm-4">
                        <input type="password" name="repass" class="form-control" id="urepass"
                            placeholder="Повторете паролата" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Регистрация</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>