<main class="main main-form login">
    <div class="form-holder">
        <div class="form-title">
            <h2>Регистрация в PetFind.Me</h2>
        </div>

        <div class="content-form">
            <form id="form" class="form">
                <input type="email" name="email" class="form-control bgcl" placeholder="Вашето email" required>

                <input type="text" name="name" class="form-control bgcl" placeholder="Вашeтo име" required>

                <input type="password" name="password" class="form-control bgcl" placeholder="Вашaта парола" required>

                <input type="submit" class="form-control submit" value="Регистрирай се">
            </form>
            <div>
                <p>Имате регистрация? <a routerLink="/auth/login">Вход</a>.</p>
            </div>
        </div>
    </div>
</main>