<div class="main-holder">
    <div class="grid-header">
        <h1>Добре дошли в PetFind.Me</h1>
    </div>
    <div class="grid-container">
        <section class="ad-container">
            <img src="../images/cat-british-shorthair.jpg" alt="">

            <div class="ad-section-container">
                <div class="ad-head-container">
                    <h4 class="">Изгубено е коте Британка</h4>
                    <p class=""><span class="bold">Статус: </span>Изгубено</p>
                </div>

                <div class="ad-main-container">
                    <p class="">Изгубено е коте на около годинка, порода Британска
                        късокосместа. Казва се Бела и сме я изтървали, живея в центъра до кулата.
                        Ако някой я намери, моля ви свържете се с мен, ще съм ви много благодарна!</p>
                </div>

                <div class="ad-footer-container">
                    <p class=""><span class="bold">Град: </span>Варна</p>
                    <p class=""><span class="bold">За връзка: </span>Еми</p>
                    <p class=""><span class="bold">Телефон: </span>0988888888</p>
                </div>
            </div>
        </section>

        <section class="ad-container">
            <img src="../images/samoyet.jpg" alt="">

            <div class="ad-section-container">
                <div class="ad-head-container">
                    <h4 class="">Изгубен Самоет</h4>
                    <p class=""><span class="bold">Статус: </span>Изгубено</p>
                </div>

                <div class="ad-main-container">
                    <p class="">Изгубен е мъжки самоет на година и половина в района на зала Кулудрум в Пловдив.
                        Много е красив и много умен. Отговаря на името Полар.
                        Много ви моля ако някой го намери да се свърже с мен</p>
                </div>

                <div class="ad-footer-container">
                    <p class=""><span class="bold">Град: </span>Пловдив</p>
                    <p class=""><span class="bold">За връзка: </span>Стефан</p>
                    <p class=""><span class="bold">Телефон: </span>0888888888</p>
                </div>
            </div>
        </section>

        <section class="ad-container">
            <img src="../images/black-cat.jpg" alt="">

            <div class="ad-section-container">
                <div class="ad-head-container">
                    <h4 class="">Изгубено е черно коте</h4>
                    <p class=""><span class="bold">Статус: </span>Изгубено</p>
                </div>

                <div class="ad-main-container">
                    <p class="">Изгубено е черно коте, квартал Баланите, Габрово.
                        Глезлив и галантен с къса, лъскава козина и каишка.
                        Много ви моля, яко някой го намери да се свърже с мен!</p>
                </div>

                <div class="ad-footer-container">
                    <p class=""><span class="bold">Град: </span>Габрово</p>
                    <p class=""><span class="bold">За връзка: </span>Ники</p>
                    <p class=""><span class="bold">Телефон: </span>0888888888</p>
                </div>
            </div>
        </section>

        <section class="ad-container">
            <img src="../images/golden-retriever.jpg" alt="">

            <div class="ad-section-container">
                <div class="ad-head-container">
                    <h4 class="">Изгубен Golden Retriever</h4>
                    <p class=""><span class="bold">Статус: </span>Изгубено</p>
                </div>

                <div class="ad-main-container">
                    <p class="">Много малък, на няколко месеца е. Много съм притеснен
                        и ви моля за помощ. Изгубен е точно на площада. Ако го намерите свържете се с мен</p>
                </div>

                <div class="ad-footer-container">
                    <p class=""><span class="bold">Град: </span>Плевен</p>
                    <p class=""><span class="bold">За връзка: </span>Пламен</p>
                    <p class=""><span class="bold">Телефон: </span>0777788888</p>
                </div>
            </div>
        </section>
    </div>
</div>