@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "leaflet/dist/leaflet.css";

.details-card {
    display: flex;
    flex-direction: row;

    .image-gallery {
        width: 50%;

        .image-gallery-slide-wrapper:hover .image-gallery-left-nav,
        .image-gallery-slide-wrapper:hover .image-gallery-bullets,
        .image-gallery-slide-wrapper:hover .image-gallery-index,
        .image-gallery-slide-wrapper:hover .image-gallery-right-nav,
        .image-gallery-slide-wrapper:hover .image-gallery-fullscreen-button {
            visibility: visible;
        }

        .image-gallery-left-nav,
        .image-gallery-bullets,
        .image-gallery-index,
        .image-gallery-right-nav,
        .image-gallery-fullscreen-button {
            visibility: hidden;
        }

        .image-gallery-slides,
        .image-gallery-index {
            border-radius: 14px;
        }
    }

    .details-card-content-holder {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        h3 {
            margin: 1rem 0;
        }

        .content-item-left {
            font-weight: bold;
        }

        .details-content-items-holder {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;

            .details-content-items {
                width: 100%;
                max-width: 50%;
                margin-bottom: 1rem;
            }
        }

        .content-desc {
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (max-width:768px) {
    .details-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90% !important;
        height: auto;

        .image-gallery {
            width: 100%;
        }

        .details-card-content-holder {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 0;

            .content-item-left {
                font-weight: bolder;
                min-width: 100px;
            }

            .details-content-items-holder {
                display: flex;
                flex-direction: column;

                .details-content-items {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .details-card {
        width: 80vw;
    }
}