.details-card {
    display: flex;
    min-height: 20vh;

    .details-card-content-holder {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;

        .content-item-left {
            font-weight: bold;
            width: 200px;
        }

        .details-content-items-holder {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;

            .details-content-items {
                width: 100%;
                max-width: 50%;
                margin-bottom: 1rem;
            }
        }

        .content-desc {
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (max-width:600px) {
    .details-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90% !important;
        height: auto;

        .image {
            min-width: 100%;
            min-height: 30vh;
        }

        .details-card-content-holder {
            display: flex;
            flex-direction: column;
            width: 100%;

            .content-item-left {
                font-weight: bolder;
                min-width: 100px;
            }

            .details-content-items-holder {
                display: flex;
                flex-direction: column;

                .details-content-items {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .details-card {
        width: 80vw;
        max-height: 350px;
    }
}