$red: #550A21;

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    .lds-dual-ring {
        display: inline-block;
        height: 80px;

        &:after {
            content: " ";
            display: block;
            width: 128px;
            height: 128px;
            margin: 8px;
            border-radius: 50%;
            border: 8px solid $red;
            border-color: $red transparent $red transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:767px) {
    .loader {
        height: 70vh;
    }
}