<h1>Login Page</h1>
<form action="/auth/login" method="post">
    <label>Username: <input type="text" name="username" value="{{user.username}}"></input></label>
    <label>Password: <input type="password" name="password"></input></label>
    <button>Login</button>
</form>