<h1>Register Page</h1>
<form action="/auth/register" method="post">
    <label>Username: <input type="text" name="username" value="{{user.username}}"></input></label>
    <label>Password: <input type="password" name="password"></input></label>
    <label>Repeat: <input type="password" name="repass"></input></label>
    <button>Register</button>
</form>